*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 400px;
    height: 500px;
    background-color: rgb(167, 242, 242);
}

h2{
    text-align: center;
    margin: 5px 0px 10px 0px;
    font-size: 30px;
    color: rgb(21, 106, 106);
}

.task{
    width: 350px;
    margin: auto;
    border: 2.5px solid  rgb(21, 106, 106);
    height: 40px;
    border-radius: 20px;
    display: flex;
}

input{
    height: 100%;
    width: 85%;
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 0px 10px 0px 10px;
    outline: none;
    color: rgb(21, 106, 106);
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
}

input::placeholder{
    color: rgb(21, 106, 106);
}

.add{
    background-color: rgb(21, 106, 106);
    width: 15%;
    height: 100%;
    border: none;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
}

button > i{
    color: rgb(11, 60, 60);
    font-size: 20px;
}

ul{
    height: 390px;
    width: 370px;
    margin: auto;
    margin-top: 10px;
    list-style: none;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

ul::-webkit-scrollbar{
    width: 0;
}

.list{
    width: 100%;
    height: fit-content;
    background-color: rgb(120, 219, 219);
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
}

.list p{
    width: 90%;
    height: 100%;
    padding: 8px 10px 8px 10px;
    color: rgb(21, 106, 106);
    font-weight: bold;
    font-size: 18px;
}

.list button{
    width: 10%;
    /* height: 100%; */
    border-radius: 0px 20px 20px 0px;
    border: none;
    background-color: rgb(21, 106, 106);
}

.list button i{
    font-size: 16px;
    color: rgb(11, 60, 60);
    cursor: pointer;
}
